.objednat {
    font-family: "noka", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 29px;
    color: white;
    background-color: #45FF4D;
    width: 170px;
    height: 58px;
    text-align: center;
    border-radius: 20px;
    padding-top: 20px;
    transition: transform .2s;
}

.objednat:hover {
    background-color: #2b9930;
    transform: scale(1.2);
}

.burger {
    margin-top: 40px;
    font-size: 70px;
    font-family: sans-serif;
    color: black;
    position: relative;
    top: 20px;
    padding-left: 20px;
}

.topnav {
    overflow: hidden;
    width: 80%;

}

.topnav a {
    float: right;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.homebold {
    font-family: "noka", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 67px;
}

.homelight {
    font-family: "noka", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 40px;
}

.homelight1 {
    font-family: "noka", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 40px;
}

.zamereni {
    font-family: "noka", sans-serif;
    font-weight: 800;
    font-style: normal;
    text-align: center;
    font-size: 120px;
    padding-top: 50px;
}

.homeimg {
    width: 100%;
    border-radius: 20px;
    transition: transform .2s;
}

.homeimg:hover {
    transform: scale(1.05);
}

footer {
    background-color: #E6E6E6;
    height: 500px;
    width: 100%;
    text-align: center;
    padding-top: 250px;;
}

.patalight {
    font-family: "noka", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 40px;
}

.patabold {
    font-family: "noka", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 67px;
    color: black;

}