:root {
  --background-color: hsl(165, 100%, 99%);
  --background-color-darker: hsl(0, 0%, 90%);

  --text-color: hsl(0, 0%, 1%);

  --primary-color: hsl(360, 100%, 55%);

  --secondary-color: hsl(125, 40%, 48%);

  --gradient: linear-gradient(90deg, hsl(329, 100%, 36%), hsl(360, 100%, 55%));
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  font-family: "komet", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.komet {
  font-family: "komet", sans-serif;
}

.gunter {
  font-family: "gunter", sans-serif;
}

/* Hlavní kontejner navigace */
.nav-container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;

  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);

  /* Samotný efekt rozmazání */
  backdrop-filter: blur(10px);

  /* Podpora pro starší Safari prohlížeče */
  -webkit-backdrop-filter: blur(10px);

  /* Fixní pozice nahoře, aby při scrollování bylo pod navigací co rozmazávat */
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav {
  user-select: none; /* Zakáže výběr textu v navigaci */
}

/* Logo - zabere místo vlevo */
.nav-logo {
  flex: 1; /* Tato část říká: "Vezmi si dostupný prostor vlevo" */
  display: flex;
  justify-content: flex-start;
  margin-left: 50px;
}

/* Hlavní menu - bude přesně uprostřed */
.nav-links {
  flex: 2; /* Větší váha pro střední část */
  display: flex;
  justify-content: center;
}

.nav-links ul {
  list-style-type: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

/* Kontakt - zabere místo vpravo */
.nav-contact {
  flex: 1; /* Tato část říká: "Vezmi si dostupný prostor vpravo" */
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
  align-items: center;
}

/* Styl pro odkazy, aby vypadaly čistě */
nav a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
}

.active-link {
  color: var(--primary-color);
  font-weight: bolder;
}

nav a:hover {
  color: var(--primary-color);
}
#kontakt {
  padding: 10px 20px;
  background: var(--gradient);
  border-radius: 10px;
  color: white;
  transition:
    background-color 0.3s,
    color 0.3s;
}

#language-switcher {
  margin-right: 20px;
}

.hero-section {
  height: 700px;
  display: flex;
  flex-direction: column; /* Změna na column, aby šly prvky pod sebe */
  justify-content: start; /* Vycentrování vertikálně */
  align-items: center;    /* Vycentrování horizontálně */
  padding-top: 0;    
  padding-top: 80px;     /* Odstranění horního paddingu, pokud chceš přesný střed */
  position: relative;
  overflow: hidden;
}

.hero-section h2 {
  width: 100%;
  font-size: 2rem;
  color: var(--text-color);
  font-weight: 300;
}

.bgText {
  position: absolute;
  top: 20px;
  line-height: 10px;
  width: 100%;
  font-size: 10rem;
  color: var(--text-color);
  font-weight: 900;
  text-align: center;
  z-index: -1;
  user-select: none;
}

.outline-text {
  color: transparent; /* Průhledný vnitřek textu */
  -webkit-text-stroke: 5px var(--text-color); /* Tloušťka a barva obrysu */

}

.hero-section img {
  width: 700px;
  height: auto;
  margin-top: 20px;
  z-index: 100;
  position: absolute;
  bottom: 0;
}
