:root {
  --background-color: #121212;
  --text-color: #e0e0e0;
  --primary-color: #1e90ff;
  --secondary-color: #ff6347;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
}

.hero {
  width: 100%;
  height: fit-content;
  text-align: center;
  margin: auto;
}

.hero-image {
  width: 100%;
  z-index: 0;
  min-width: 100%;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 2px 10px rgba(241, 241, 241, 0.3);
}

.profile-pp {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  position: relative;
  top: -300px;
  border-radius: 20%;
  width: 400px;
  margin-bottom: -260px;
}

.hero-text {
  width: 60%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
    align-items: center;
}

.hero-text h1 {
  font-size: 100px;
  margin: 0 20px;
  font-weight: bold;
}

.links {
  margin-top: 20px;
  display: flex;
  gap: 30px;
}

.hero-links li {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
}

.hero-links ul li img {
filter: opacity(.5);
  width: 100px;
  transition: transform 0.4s ease-in-out;
}

.hero-links ul li img:hover {
  transform: scale(1.1);
    filter: opacity(.6);
}

.linkTree {
  width: 40%;
  height: fit-content;
  text-align: center;
  margin: auto;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.linkTree a {
  font-size: 30px;
  width: 100%;
  background-color: #3e3e3e;
  color: var(--background-color);
  background-color: var(--text-color);
  font-weight: bold;
  text-decoration: none;
  margin: 20px 0;
  transition: color 0.3s ease;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 10px;
  box-shadow: inset 0 4px 15px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.linkTree a:hover {
  box-shadow: inset 0 4px 15px rgba(0, 0, 0, 0.9); ;
}