.objednat {
    width: 190px;
    padding-top: 10px;
    transition: transform .2s;
}

@media screen and (max-width: 700px) {
    .objednat {
        width: 150px;
    }
}

@media screen and (max-width: 500px) {
    .objednat {
        width: 130px;
        padding-top: 20px;
    }
}

.objednat:hover {
    rotate: -5deg;
    transform: scale(1.2);
}

.burger {
    margin-top: 40px;
    font-size: 70px;
    font-family: sans-serif;
    color: black;
    position: relative;
    top: 20px;
    padding-left: 5px;
}

@media screen and (max-width: 700px) {
    .burger {
        font-size: 60px;
        top: 25px;
    }
}

@media screen and (max-width: 500px) {
    .burger {
        font-size: 40px;
        top: 30px;
        padding-left: 2px;
        margin-top: 20px;
    }
}

.topnav {
    overflow: hidden;
    width: 90%;

}

@media screen and (max-width: 500px) {
    .topnav {
        width: 95%;
    }
}

.topnav a {
    float: right;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.homeimg1 {
    width: 100%;
    display: block;
}

@media screen and (max-width: 640px) {
    .homeimg1 {
        display: none;
    }
}

.tablehomeimg {
    width: 80%;
    padding: 30px;
    padding-bottom: 60px;
}

@media screen and (max-width: 700px) {
    .tablehomeimg {
        width: 90%;
        padding: 20px;
    }
}

@media screen and (max-width: 500px) {
    .tablehomeimg {
        display: none;
    }
}

.tablehomeimg1 {
    width: 90%;
    padding: 20px;
    padding-bottom: 60px;
    display: none;
}



@media screen and (max-width: 500px) {
    .tablehomeimg1 {
        display: flex;
    }
}

@media screen and (max-width: 1300px) {
    .homeimg1 {
        width: 100%;
    }
}

.homebold {
    font-family: "noka", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 67px;
}

@media screen and (max-width: 1300px) {
    .homebold {
        font-size: 50px;
    }
}

@media screen and (max-width: 1100px) {
    .homebold {
        font-size: 35px;
    }
}

@media screen and (max-width: 800px) {
    .homebold {
        font-size: 30px;
    }
}



.homelight {
    font-family: "noka", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 40px;
}

@media screen and (max-width: 1300px) {
    .homelight {
        font-size: 30px;
    }
}

@media screen and (max-width: 1100px) {
    .homelight {
        font-size: 20px;
    }
}

@media screen and (max-width: 800px) {
    .homelight {
        font-size: 15px;
    }
}



.homelight1 {
    font-family: "noka", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 40px;
}

@media screen and (max-width: 1300px) {
    .homelight1 {
        font-size: 30px;
    }
}

@media screen and (max-width: 1100px) {
    .homelight1 {
        font-size: 20px;
    }
}

@media screen and (max-width: 800px) {
    .homelight1 {
        font-size: 15px;
    }
}




.zamereni {
    font-family: "noka", sans-serif;
    font-weight: 800;
    font-style: normal;
    text-align: center;
    font-size: 120px;
    padding-top: 50px;
}

@media screen and (max-width: 1300px) {
    .zamereni {
        font-size: 90px;
    }
}

@media screen and (max-width: 1100px) {
    .zamereni {
        font-size: 70px;
    }
}

@media screen and (max-width: 800px) {
    .zamereni {
        font-size: 50px;
    }
}

@media screen and (max-width: 600px) {
    .zamereni {
        font-size: 30px;
    }
}

@media screen and (max-width: 350px) {
    .zamereni {
        font-size: 25px;
    }
}

.homeimg {
    width: 100%;
    border-radius: 20px;
    transition: transform .2s;
}

@media screen and (max-width: 500px) {
    .homeimg {
        border-radius: 10px;
    }
}

.homeimg:hover {
    transform: scale(1.05);
    rotate: 2deg;
}

.patatabulka {
    text-align: left;
}

ul {
    list-style: none;
}

.icony {
    width: 15px;
    padding: 5px;
}

.patatabulka {
    margin-top: 60px;
    background-color: rgb(167, 167, 167);
}

.pataligh {
    font-family: "noka", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 40px;
}

@media screen and (max-width: 950px) {
    .pataligh {
        font-size: 30px;
    }
}

@media screen and (max-width: 660px) {
    .pataligh {
        font-size: 20px;
    }
}

.patabold {
    font-family: "noka", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 30px;
    color: black;

}

@media screen and (max-width: 950px) {
    .patabold {
        font-size: 20px;
    }
}

@media screen and (max-width: 660px) {
    .patabold {
        font-size: 10px;
    }
}

span {
    content: "\2192";
}

.formular {
    height: 600px;
}

@media screen and (max-width: 1130px) {
    .formular {
        height: 400px;
    }
}

.td {
    margin-top: auto;
}

@media screen and (max-width: 850px) {
    .td {
        display: none;
    }
}

.fotky {
    width: 300px;
    border-radius: 20px;
    box-shadow: 0px 0px 40px 12px rgb(202, 202, 202);
}

@media screen and (max-width: 970px) {
    .fotky {
        width: 200px;
    }
}

@media screen and (max-width: 700px) {
    .fotky {
        width: 150px;
    }
}

@media screen and (max-width: 550px) {
    .fotky {
        width: 80px;
        border-radius: 10px;
    }
}

.fotky-text {
    font-size: 25px;
    font-family: "noka", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5em;
    text-align: left;

}

@media screen and (max-width: 970px) {
    .fotky-text {
        font-size: 17px;
        line-height: 1.5em;
    }
}

@media screen and (max-width: 700px) {
    .fotky-text {
        font-size: 12px;

    }
}

@media screen and (max-width: 550px) {
    .fotky-text {
        font-size: 10px;

    }
}

@media screen and (max-width: 420px) {
    .fotky-text {
        font-size: 8px;

    }
}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}

.fotky-2 {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 40px 12px rgb(202, 202, 202);
}

.fotky-text-2 {
    font-size: 35px;
    font-family: "noka", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5em;
    text-align: left;

}


@media screen and (max-width: 550px) {
    .fotky-text-2 {
        font-size: 20px;

    }
}

@media screen and (max-width: 420px) {
    .fotky-text-2 {
        font-size: 20px;

    }
}

.tabulka-clanky1 {
    display: block;
}

@media screen and (max-width: 700px) {
    .tabulka-clanky1 {
        display: none;

    }
}

.tabulka-clanky2 {
    display: none;
}

@media screen and (max-width: 700px) {
    .tabulka-clanky2 {
        display: block;

    }
}