:root {
  --background-color: hsl(165, 100%, 99%);
  --background-color-darker: hsl(0, 0%, 90%);

  --text-color: hsl(0, 0%, 1%);

  --primary-color: hsl(360, 100%, 55%);

  --secondary-color: hsl(125, 40%, 48%);

  --gradient: linear-gradient(90deg, hsl(329, 100%, 36%), hsl(360, 100%, 55%));
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  font-family: "komet", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.komet {
  font-family: "komet", sans-serif;
}

.gunter {
  font-family: "gunter", sans-serif;
}

/* Hlavní kontejner navigace */
.nav-container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;

  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7); 
  
  /* Samotný efekt rozmazání */
  backdrop-filter: blur(10px); 
  
  /* Podpora pro starší Safari prohlížeče */
  -webkit-backdrop-filter: blur(10px); 
  
  /* Fixní pozice nahoře, aby při scrollování bylo pod navigací co rozmazávat */
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Logo - zabere místo vlevo */
.nav-logo {
  flex: 1; /* Tato část říká: "Vezmi si dostupný prostor vlevo" */
  display: flex;
  justify-content: flex-start;
  margin-left: 50px;
}

/* Hlavní menu - bude přesně uprostřed */
.nav-links {
  flex: 2; /* Větší váha pro střední část */
  display: flex;
  justify-content: center;
}

.nav-links ul {
  list-style-type: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

/* Kontakt - zabere místo vpravo */
.nav-contact {
  flex: 1; /* Tato část říká: "Vezmi si dostupný prostor vpravo" */
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
}

/* Styl pro odkazy, aby vypadaly čistě */
nav a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
}

.active-link {
  color: var(--primary-color);
  font-weight: bolder;
}

nav a:hover {
  color: var(--primary-color);
}
 #kontakt {
  padding: 10px 20px;
  background: var(--gradient);
  border-radius: 10px;
  color: white;
  transition: background-color 0.3s, color 0.3s;
}