:root {
  --background-color: hsl(165, 100%, 99%);
  --background-color-darker: hsl(0, 0%, 90%);

  --text-color: hsl(0, 0%, 1%);

  --primary-color: hsl(360, 100%, 55%);

  --secondary-color: hsl(125, 40%, 48%);

  --gradient: linear-gradient(90deg, hsl(329, 100%, 36%), hsl(360, 100%, 55%));
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  font-family: "komet", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 100%;
}

.komet {
  font-family: "komet", sans-serif;
}

.gunter {
  font-family: "gunter", sans-serif;
}

/* Hlavní kontejner navigace */
.nav-container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);

  /* Samotný efekt rozmazání */
  backdrop-filter: blur(10px);

  /* Podpora pro starší Safari prohlížeče */
  -webkit-backdrop-filter: blur(10px);

  /* Fixní pozice nahoře, aby při scrollování bylo pod navigací co rozmazávat */
  position: sticky;
  top: 0;
  z-index: 1000;
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

nav {
  user-select: none; /* Zakáže výběr textu v navigaci */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  opacity: 0;
  transition:
    opacity 0.5s ease-in-out,
    box-shadow 0.6s ease-in-out;
}

nav.scrolled {
  /* Tady definujeme tvůj původní stín */
  box-shadow:
    10px 10px 30px rgba(61, 61, 61, 0.2),
    inset 5px 5px 10px rgb(90, 90, 90);
}

/* Logo - zabere místo vlevo */
.nav-logo {
  flex: 1; /* Tato část říká: "Vezmi si dostupný prostor vlevo" */
  display: flex;
  justify-content: flex-start;
  margin-left: 50px;
}

/* Hlavní menu - bude přesně uprostřed */
.nav-links {
  flex: 2; /* Větší váha pro střední část */
  display: flex;
  justify-content: center;
}

.nav-links ul {
  list-style-type: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

/* Kontakt - zabere místo vpravo */
.nav-contact {
  flex: 1; /* Tato část říká: "Vezmi si dostupný prostor vpravo" */
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
  align-items: center;
}

/* Styl pro odkazy, aby vypadaly čistě */
nav a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.active-link {
  color: var(--primary-color);
  transition: color 0.3s ease-in-out;
}

nav a:hover {
  color: var(--primary-color);
  transition: color 0.3s ease-in-out;
}
.kontakt {
  padding: 10px 20px;
  background: var(--gradient);
  border-radius: 10px;
  color: white;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0px 0px 30px rgba(61, 61, 61, 0.3);
}

.kontakt:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

#language-switcher {
  margin-right: 20px;
}

.hero-section {
  height: 700px;
  display: flex;
  flex-direction: column; /* Změna na column, aby šly prvky pod sebe */
  justify-content: start; /* Vycentrování vertikálně */
  align-items: center; /* Vycentrování horizontálně */
  padding-top: 0;
  padding-top: 80px; /* Odstranění horního paddingu, pokud chceš přesný střed */
  position: relative;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.hero-section h2 {
  width: 100%;
  font-size: 2rem;
  color: var(--text-color);
  font-weight: 300;
}

.bgText {
  position: absolute;
  top: 20px;
  line-height: 10px;
  width: 100%;
  font-size: 10rem;
  color: var(--text-color);
  font-weight: 900;
  text-align: center;
  z-index: -1;
  user-select: none;
  letter-spacing: 50px;
  text-shadow: 10px 10px 30px rgba(61, 61, 61, 0.2);
}

.outline-text {
  color: transparent; /* Průhledný vnitřek textu */
  -webkit-text-stroke: 5px var(--text-color); /* Tloušťka a barva obrysu */
}

.hero-section img {
  width: 700px;
  height: auto;
  margin-top: 20px;
  z-index: 100;
  position: absolute;
  bottom: 0;
}

.about {
  margin-left: 50px;
  margin-right: 50px;
  width: 100%;
  min-width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.colum1 {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 30%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.colum2 {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 30%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.colum3 {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  width: 30%;
  margin-top: 40px;
  margin-bottom: 40px;
  overflow: hidden;
}

.colum1 .aboutImg {
  width: 400px;
  height: auto;
  border-radius: 20px;
  transform: rotate(-2deg);
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.1);
  filter: brightness(0.8) blur(0.2px);
  transition:
    transform 0.5s ease-in-out,
    filter 0.5s ease-in-out,
    box-shadow 0.6s ease-in-out;
}

.about .colum1 h3 {
  font-size: 2rem;
  margin-top: 40px;
  margin-bottom: 0;
}

.about .colum1 ul li {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 10px;
}

.about .colum2 h3 {
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 900;
}

.about .colum2 ul {
  padding: 0;
}

.about .colum2 li {
  width: fit-content;
  font-size: 1.2rem;
  line-height: 2rem;
  margin-top: 20px;
  border-bottom: 1px solid var(--text-color);
}

.about .colum3 h3 {
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 900;
}

.about .colum3 ul {
  padding: 0;
}

.about .colum3 li {
  width: fit-content;
  font-size: 1.2rem;
  line-height: 2rem;
  margin-top: 20px;
  border-bottom: 1px solid var(--text-color);
}

.colum1 .aboutImgActive {
  transform: rotate(0deg) scale(1.02);
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.5);
  filter: brightness(1.1);
  transition:
    filter 0.5s ease-in-out,
    transform 0.5s ease-in-out,
    box-shadow 0.6s ease-in-out;
}

.top-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  background-color: var(--primary-color);
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.5);
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.top-button:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.top-button span {
  font-size: 24px;
  line-height: 50px;
}

.top-button:hover span {
  animation: buttonHop 1s ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes buttonHop {
  0% {
    transform: translateY(2px);
  }
  25% {
    transform: translateY(-4px);
  }
  50% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Definice animace */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px); /* Prvek začne o 30px níže */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Skončí na své pozici */
  }
}

/* Třída, kterou dostanou prvky pro animaci */
.reveal-init {
  opacity: 0; /* Na začátku jsou neviditelné */
}

/* Tuto třídu přidáme pomocí JS po načtení */
.is-loaded .reveal-init {
  animation: fadeInUp 0.8s ease out forwards;
}

/* Přidáme zpoždění pro jednotlivé položky, aby se objevovaly postupně (stagger efekt) */
.delay-1 {
  animation-delay: 0.2s;
}
.delay-2 {
  animation-delay: 0.4s;
}
.delay-3 {
  animation-delay: 0.6s;
}

.portfolio {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 40px;
  margin-bottom: 100px;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  flex-wrap: wrap;
  opacity: 1;
  transition: box-shadow 0.5s ease-in-out;
  box-shadow: 0px 0px 20px rgba(61, 61, 61, 0.2);
}

.portfolio-item {
  margin-bottom: 30px;
  margin-right: 30px;
  height: fit-content;
  background-color: var(--background-color-darker);
  border-radius: 20px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  text-align: left;
  padding: 20px;
  flex: 1 0 21%; /* explanation below */

  transition:
    transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}

.portfolio-item:hover {
  transform: scale(1.008);
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.2);
}

.portfolio-item img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.portfolio-item video {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.portfolio-item h3 {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--primary-color);
}

p a {
  color: var(--primary-color);
  font-weight: bold;
}

footer {
  width: 100%;
  height: 60px;
  background-color: var(--primary-color);
  display: flex;
  color: var(--background-color);
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}